html {
	height: 97%;
}
body {
	height: 100%;
}
* {
	color: #707070;
}
.main {
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 40px 2fr 40px 35px 1fr 1fr 40px;
	grid-gap: 27px;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 18px;
}
.menu a {
	font-size: 14px;
	text-decoration: none;
}
.menu a:hover {
	text-decoration: underline;
}
.pfp {
	height: 35px;
	width: auto;
	border-radius: 50px;
}
.apps {
	height: 18px;
	width: auto;
}
.logo {
	justify-self: center;
	align-self: end;
}
.searchBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.inputField {
	width: 584px;
	padding: 15px 40px 15px 40px;
	margin: 0px -40px 0px -40px;
	border-radius: 200px;
	border: 1px solid #c4c4c4;
	outline-color: white;
	order: 2;
	z-index: 0;
}
.glass {
	order: 1;
	z-index: 1;
	margin-left: 40px;
}
.keyboard {
	order: 3;
	z-index: 1;
	margin-right: 40px;
}
.search {
	display: flex;
	gap: 16px;
	justify-content: center;
}
button {
	border: solid 1px white;
	padding: 9px 31px 9px 31px;
	background-color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
button:hover {
	border: solid 1px #c4c4c4;
}
.button {
	display: inline;
}
.lang {
	justify-self: center;
}
.lang a {
	color: #0000EE;
}
.lang a:visited {
	color: #551A8B;
}
.location {
	align-self: end;
}
.footer {
	align-self: end;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-style: solid;
	border-color: #c4c4c4;
	border-width: 1px 0px 0px 0px;
	padding-top: 15px;
}
.footerFlexBoxStart {
	display: flex;
	flex-direction: row;
 	gap: 18px;
}
.footerFlexBoxEnd {
	display: flex;
	flex-direction: row;
 	gap: 18px;
}
@media screen and (max-width: 728px) {
	.footer {
		padding-top: 5px;
		justify-content: center;
	}
}
.footer a {
	font-size: 14px;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
